<!-- ======= Breadcrumbs ======= -->
<section  class="bg_handshake  d-flex align-items-center justify-content-center " style="height: 400px;">
  <div class="align-items-center justify-content-center " >
    <h1 class="text-white display-2">
      
    </h2 >
  </div>
</section>
<!-- End Breadcrumbs -->
<section  class="pricing inner-page   "  >
  <div class="container">
    <div class="section-title mt-4 ">
      <h2>
      <% if I18n.locale == :de %>
          Unsere Fokus-Positionen
        <% end %>
        <% if I18n.locale == :en %>
          Our Focus Positions
        <% end %>
        </h2>
    </div>
    <div class="row">
      <div class="col-lg-4" > 
        <div class="box featured">
          <h3> <%= t(:positions_consulting)  %> </h3>
          <p class="text-start">
            <% if I18n.locale == :de %>
              In der Managementberatung besetzen wir Fach- und Führungs-Positionen ab dem Level Senior Consultant aufwärts.
              Wir haben einige tausend Business Professions in unserem  Talent-Pool, 
              besetzen  Positionen in folgenden Funktionsbereichen  (Strategieberater, Prozessmanagement-Consultants).
            <% end %>
            <% if I18n.locale == :en %>
              In the Management Consulting, we fill specialist and management positions from Senior Consultant level upwards. 
              We fill positions  (strategy consultants,  process management consultants)  in the following functional areas:
            <% end %>
          </p>
          <ul>
            <li><i class="bx bx-check"></i> Supply Chain Management</li>
            <li><i class="bx bx-check"></i> Customer Management</li>
            <li><i class="bx bx-check"></i> Service Management</li>
            <li><i class="bx bx-check"></i> Manufacturing </li>
            <li><i class="bx bx-check"></i> Finance & Controlling</li>
            <li><i class="bx bx-check"></i> Risk- & Compliance-Management</li>
            <li><i class="bx bx-check"></i> Product Lifecycle Management</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4"  >
        <div class="box featured">
          <h3> <%= t(:positions_it_consulting)  %> </h3>
          <p class="text-start">
            <% if I18n.locale == :de %>
              In der IT Beratung liegt der Schwerpunkt in der SAP-Beratung einerseits und im Bereich Data & AI andererseits.
              In diesen Bereichen haben wir einige tausend IT-Professionals in unserem  Talent-Pool,
              haben Expertise von Fach- und Führungspositionen in folgenden Kompetenzbereichen:
            <% end %>
            <% if I18n.locale == :en %>
              In the area of IT consulting, the focus is on SAP consulting on the one hand and data & AI on the other. 
              We have expertise from specialist and management positions in the following areas of competence: 
            <% end %>
          </p>
          <ul>
            <li><i class="bx bx-check"></i> SAP ERP , SAP S/4 HANA</li>
            <li><i class="bx bx-check"></i> SAP SCM</li>
            <li><i class="bx bx-check"></i> SAP SRM / ARIBA</li>
            <li><i class="bx bx-check"></i> SAP PLM</li>
            <li><i class="bx bx-check"></i> Salesforce</li>
            <li><i class="bx bx-check"></i> Security Management</li>
            <li><i class="bx bx-check"></i> Data Management/Data Analytics  </li>
            <li><i class="bx bx-check"></i> Artificial Intelligence</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 mt-4 mt-lg-0"  >
        <div class="box featured">
          <h3> <%= t(:positions_it)  %> </h3>
          <p class="text-start">
            <% if I18n.locale == :de %>
              In der IT Branche liegt unser Schwerpunkt auf Positionen im Vertrieb und im Software Engineering. 
              Auch im  Bereich Vertrieb haben wir mehrere tausdend Sales Professionals in unserem  Talent-Pool,
              besetzen  seit mehr als 15 Jahren erfolgreich  Positionen in folgenden Bereichen:
            <% end %>
            <% if I18n.locale == :en %>
              In the IT sector, our focus is on positions in sales and software engineering. 
              We have been successfully filling sales positions in the following areas for more than 15 years: 
            <% end %>
          </p>
          <ul>
            <li><i class="bx bx-check"></i> (Key/Global) Account Management</li>
            <li><i class="bx bx-check"></i> Product/ Services Sales Specialists</li>
            <li><i class="bx bx-check"></i> Presales Consulting</li>
            <li><i class="bx bx-check"></i>Systems Consulting</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 mt-4 mt-lg-0"  >
        <div class="box featured">
          <h3> <%= t(:positions_fsi)  %> </h3>
          <p class="text-start">
            <% if I18n.locale == :de %>
              Im Finanzdienstleistungs-Sektor haben wir Expertise und langjährige Erfahrung in der Besetzung von Fach- und 
              Führungs-Positionen und einen großen  Talent-Pool in folgenden Bereichen - sowohl auf der 
              Fachseite als auch in der IT-Umsetzung.
            <% end %>
            <% if I18n.locale == :en %>
              In the Financial Services sector, we have expertise and many years of experience in filling specialist and 
              management positions in the following areas - both on the specialist side and in IT implementation. 
            <% end %>
          </p>
          <ul>
            <li><i class="bx bx-check"></i> Private Equity Consulting</li>
            <li><i class="bx bx-check"></i> Money Transfer   </li>
            <li><i class="bx bx-check"></i> Finance & Controlling</li>
            <li><i class="bx bx-check"></i> Regulatory</li>
            <li><i class="bx bx-check"></i> Risk- & Compliance-Management</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4"  >
        <div class="box featured">
          <h3> <%= t(:positions_software_engineering)  %> </h3>
          <p class="text-start">
            <% if I18n.locale == :de %>
              Im Software Engineering besetzen wir Positionen Branchen-übergreifend seit 2009 in den IT Departments 
              führender Unternehmen. Entsprechend groß ist unser  Talent-Pool in diesem Bereich, 
              der mehrere tausend Software Engineers umfasst. Wir haben langjährige Erfahrung bei der Besetzung 
              von Fach- und Führungspositionen in folgenden Bereichen:
            <% end %>
            <% if I18n.locale == :en %>
              In software engineering, we have many years of experience in filling specialist and management 
              positions in the following areas: 
            <% end %>
          </p>
          <ul>
            <li><i class="bx bx-check"></i> Backend Software Engineering (Java, .NET, Cobol</li>
            <li><i class="bx bx-check"></i> Frontend Software Engineering (HTML/CSS, React, Vue, Angular, RoR)</li>
            <li><i class="bx bx-check"></i> SQL Databases (Oracle, DB2, MySQL, PostgreSQL)</li>
            <li><i class="bx bx-check"></i> Non-SQL Databases (MongoDB, Cassandra</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4"  >
        <div class="box featured">
          <h3> <%= t(:positions_office_management)  %> </h3>
          <p class="text-start">
            <% if I18n.locale == :de %>
              Der Bereich Office Management hat sich in den letzten Jahren am stärksten entwickelt.
              Aufgrund der hohen Nachfrage haben wir inzwischen auch in diesem Bereich eine große Anzahl Management Assistants 
              in unserem  Talent-Pool. Wir haben Expertise bei der Besetzung folgender Positionen.
            <% end %>
            <% if I18n.locale == :en %>
              The office management sector has seen the strongest growth in recent years. Due to the high demand, 
              we now have a large number of Management Assistants in our candidate pool. 
              We have expertise in filling the following positions. 
            <% end %>
          </p>
          <ul>
            <li><i class="bx bx-check"></i> Management Assistants für Vorstände</li>
            <li><i class="bx bx-check"></i> Management Assistants für Geschäftsführer und Directors</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
